/* .toggle{
    width: 10%;
} */

.logo{
  width:10%;
}
.extra{
    width: 65%;
}
.link{
    display:flex;
}

.link a{
    margin: 0 40px;
}

@media only screen and (min-width: 600px){
    .toggle{
        display: none;
    }
    .link > .linkItem{
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .link > .linkItem
    {
        display: none;
    }
    .toggle{
        display: block;
    }
}
a{
    text-decoration: none;
    color: white;
}

a:hover,
a:active{
    color: aqua;
}
